[submodule "modules/foleys-gui-magic"]
	path = modules/foleys_gui_magic
	url = https://github.com/ffAudio/foleys_gui_magic
	branch = main
[submodule "modules/JUCE"]
	path = modules/JUCE
	url = https://github.com/juce-framework/JUCE
	branch = master
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "cmake"]
	path = cmake
	url = https://github.com/cristianpandele/cmake-includes.git
	branch = main
[submodule "modules/clap-juce-extensions"]
	path = modules/clap-juce-extensions
	url = https://github.com/free-audio/clap-juce-extensions.git
	branch = main
[submodule "modules/visage"]
	path = modules/visage
	url = https://github.com/VitalAudio/visage.git
	branch = main
[submodule "modules/sst/sst-basic-blocks"]
	path = modules/sst/sst-basic-blocks
	url = git@github.com:surge-synthesizer/sst-basic-blocks.git
	branch = main
[submodule "modules/sst/sst-waveshapers"]
	path = modules/sst/sst-waveshapers
	url = git@github.com:surge-synthesizer/sst-waveshapers.git
	branch = main
[submodule "modules/sst/sst-filters"]
	path = modules/sst/sst-filters
	url = git@github.com:surge-synthesizer/sst-filters.git
	branch = main
[submodule "modules/sst/sst-effects"]
	path = modules/sst/sst-effects
	url = https://github.com/surge-synthesizer/sst-effects.git
	branch = main
